header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  margin-bottom: 2rem;

  @media (max-width: 900px) {
    display: block;

    ul {
      margin-top: 1rem;
      li:first-child {
        margin-left: 0;
      }
    }
  }

  @media (max-width:  768px){
    padding: 0 2rem;
  }

  ul {
    display: flex;

    li {
      margin: 0 1rem;
      font-weight: 700;

      a {
        color: #CBB1A2;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      a::after {
        content: "";
        display: block;
        transition: all ease 300ms;
        width: 50%;
        height: 2px;
        margin-top: 2px;
      }

      .activeLink::after {
        background: #6749A5;
      }

      .activeLink {
        color: #6749A5;

      }
    }
  }
}